<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">
    <Appenders>
        <!-- Console appender configuration -->
        <Console name="console" target="SYSTEM_OUT">
            <!-- example: 2023-03-08 18:31:43 INFO  SampleTest:25 - Name in Response -->
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n" />
        </Console>
        <!-- Reporter appender configuration -->
        <ReporterAppender name="REPORTER_APPENDER" />
    </Appenders>
    <Loggers>
        <!-- Root logger referring to both console and reporter appender -->
        <Root level="info" additivity="false">
            <AppenderRef ref="console" />
            <AppenderRef ref="REPORTER_APPENDER" />
        </Root>
    </Loggers>
</Configuration>